*{
    margin : 0px;
    padding : 0px;
    font-family : 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #EAEBED;
}

.card{
    width:90%;
    max-width: 430px;
    background: linear-gradient(180deg,#A3BAC3,#01A7C2,#007090);
    color:white;
    margin:125px auto;
    border-radius:20px;
    padding:30px;
}
.top-bar{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    height:55px;
    width:100%;
}
#search-bar{
    width:70%;
    height:80%;
    font-size: large;
    border-radius:30px;
    background-color: #ebfffc;
    color:#758186;
    border:0;
    outline:0;
    padding-left:23%;
  
}
#search-button{
    width:12%;
    height:80%;  
    font-size:large;
    border-radius:50%;
    background-color: #ebfffc;
    color:#758186;
    border:0;
}

#search-button:hover{
    width:14%;
    height:90%;
    font-size:larger;
}
.center-content{
   display:flex;
   flex-direction: column;
   text-align: center;
   justify-content: space-evenly;
   align-items: center;
   font-size:larger
}
.center-content img{
    width:50%;
    margin:10px
}
.center-content h1{
    margin-bottom:10px;
}

.center-content h2{
    margin-bottom:20px;
}

.bottom-bar{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    text-align:center;
    padding:20px;
}

h3{
    font-size:larger;
}

.bottom-bar-image{
    width:30%;
    height:40px;
}

.bottom-text{
    display:inline-block;
}

.card-content{
    display:none;
}

.error-message{
    text-align:left;
    margin-left:30px;
    margin-top:3px;
    display:none;
}


